body {
    margin: 0;
}

.div {
    overflow: hidden;
}

.heading {
    position: relative;
    background: #7e7996;
    height: 108px;
    width: 100%;
    color: black;

}

.logo {
    position: relative;
    top: 18px;
    left: 85px;

    height: 72px;
    width: 270px;
    font-size: 300%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: "magrabold", sans-serif;

    background: #b1a8bd;

}

.loginButton {

    position: absolute;
    top: 28px;
    right: 72px;

    height: 54px;
    width: 168px;

    background-image: url("buttons//login.png");
}

.welcomeText {
    font-size: 200%;
    position: absolute;
    font-style: italic;
    font-weight: bold;
    color: white;
    right: 250px;
    top: 36px;

    text-align: right;
}

.background {

    background-image: url("buttons//background.png");
    height: 1200px;
    width: 1920px;

}

.prototypes {
    display: none;
}

.news-box {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 10px;
    border: 2px solid black;
    text-align: center;
    background-image: url("buttons//preview.png");

}

/**/
.date {
    width: 100%;
    height: 55%;
    font-size: 15px;
}

.topic {
    width: 100%;
    height: 18%;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    font-weight: bold;
    font-size: 30px;
}

.summary {
    text-align: left;
    font-size: 18px;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    height: 23%;
    margin-top: 2%;
}

.author {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: right;
    font-style: italic;
    font-weight: bold;
}

/**/

.full {
    overflow: visible;
    display: none;
    top: 108px;
    width: 70%;
    height: 2000px;
    background-color: #000000;
    position: absolute;
}

.action-centre {
    position: absolute;
    width: 25%;
    right: 0px;

}

.button-news-manage {
    display: none;
    position: relative;
    margin: auto;
    margin-top: 20px;
    height: 102px;
    width: 102px;
}

.nextPage {
    position: absolute;
    width: 53px;
    height: 76px;
    background-image: url("buttons//next.png");
    right: 10px;
    top: 20px;
}

.previousPage {
    position: absolute;
    width: 76px;
    height: 53px;
    background-image: url("buttons//previous.png");
    left: 10px;
    top: 20px;
}

.infoBox {
    margin: auto;
    margin-top: 20px;
    position: relative;
    width: 330px;
    height: 594px;
    background-image: url("buttons//infobox.png");
}

html,
body {
    height: 70%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    background-color: grey;
    color: white;
    text-align: center;
    height: 25%;
}

.login-window {
    position: fixed;
    z-index: 5;
    width: 45%;
    height: 540px;
    text-align: center;
    margin: 60px auto 25px;
    border-radius: 16px;
    background-color: #ffffff;
    display: inline-block;
    align-self: center;
}

.login-window-header {
    width: 100%;
    height: 25%;
    background-color: #7e7996;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.login-window-title {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 48px;
}

.login-window-input {
    margin-top: 40px;
}

.login-window-input > input {
    width: 40%;
    height: 60px;
    font-size: 28px;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border-style: none;
    border-radius: 8px;
    background-color: #f0f0f8;
}

.login-window-enter-button {
    width: 20%;
    height: 50px;
    align-content: center;
    margin-top: 40px;
    font-size: 24px;
    border-style: none;
    border-radius: 10px;
    background-color: #7e7996;
}

.login-window-enter-button > a {
    color: #FFFFFF;
    text-decoration: none;
}

.full-view {
    position: fixed;
    z-index: 5;
    width: 65%;
    height: 50%;
    text-align: center;
    margin: 60px auto 25px;
    border-radius: 12px;
    background-color: #ffffff;
    display: inline-block;
    align-self: flex-start;
    left: 5%;
    padding: 20px;
}

.date-full {
    width: 100%;
    height: 5%;
    font-size: 15px;
}

.topic-full {
    width: 100%;
    height: 18%;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    font-weight: bold;
    font-size: 30px;
}

.summary-full {
    text-align: left;
    font-size: 18px;
    font-style: italic;
    overflow-y: scroll;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    height: 10%;
    margin-top: 2%;
}
.content-full {
    text-align: left;
    font-size: 18px;
    font-style: italic;
    overflow-y: scroll;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    height: 55%;
    margin-top: 2%;
}

.author-full {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: left;
    font-style: italic;
    font-weight: bold;
}

.layer{
    display:block;
    position: fixed;
    width:100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,255);
}

.filter-bar {
    margin: 8px;
}